@media screen and (max-width: 767px) {

}
@media screen and (min-width: 768px) and (max-width: 991px) {

}
@media screen and (min-width: 992px) and (max-width: 1199px) {

}
@media screen and (min-width: 1200px){

}

/*Для всего*/


/*Для всего*/

/*Шапка*/
.fon_1{
    background: #ebebeb;
}

@media screen and (max-width: 767px) {
    .otstup_ot_menu{
        margin-bottom: 55px;
    }
}

.img_logo{
    margin-bottom: 10px;
}

.slogan {
    margin-top: 20px;
    font-size: 20px;
    font-family: Arial;
}

.nomer_tel{
    font-family: Regular;
    color: #0f0f0f;
}

.zakaz_zvonka{
    color: #ff7a00;
    margin-top: -10px;
    font-size: 32px;
    font-family: Regular;
}

@media screen and (max-width: 380px) {
    .nomer_tel{
        margin-top: 10px;
        font-size: 16px;
    }

    .zakaz_zvonka{
        font-size: 20px;
    }
}

@media screen and (min-width: 381px) and (max-width: 485px) {
    .nomer_tel{
        margin-top: 10px;
        font-size: 20px;
    }

    .zakaz_zvonka{
        font-size: 20px;
    }
}
@media screen and (min-width: 486px)  {
    .nomer_tel{
        margin-top: 10px;
        font-size: 28px;
    }

    .zakaz_zvonka{
        font-size: 32px;
    }
}

/*Конец шапки*/
/*Меню*/
.fon_2{
    background: #404041;
}

.shrift_menu_2{
    font-family: Arial;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 5px;
}

a.ssilki_menu{
    text-decoration: none;
    color: #ebebeb;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .shrift_menu_2{
        font-size: 15px;
        margin-top: 8px;
        margin-bottom: 5px;
    }
}
@media screen and (min-width: 992px) {
    .shrift_menu_2{
        font-size: 17px;
        margin-top: 8px;
        margin-bottom: 5px;
    }
}
/*Конец меню*/
/* ***************Блок "Заявка"****************** */
.fon_3{
    background: #213670;
}

.slogan_2{
    font-family: Arial;
    font-weight: bold;
    color: #ebebeb;
}

@media screen and (max-width: 558px) {
    .slogan_2{
        font-size: 17px;
    }
}
@media screen and (min-width: 559px) and (max-width: 767px) {
    .slogan_2{
        font-size: 32px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .slogan_2{
        font-size: 40px;
    }
}
@media screen and (min-width: 992px) {
    .slogan_2{
        font-size: 52px;
    }
}
/*Блок таймера и формы заполнения заявки*/
.blok_for_timer{
    border: 2px solid #00fff0;
    border-radius: 20px;
}

.slogan_dla_zajavki{
    font-family: Arial;
    font-weight: bold;
    color: #00fff0;
}

.timer{
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
    text-shadow: #ff0000 0 0 20px;
}

.blok_for_zajavki{
    border: 2px solid #00fff0;
    border-radius: 20px;
}

.zajavka_oglavlenie{
    font-family: Arial;
    font-weight: bold;
    color: #fff22d;
}

.zajavka_fraza{
    font-family: Arial;
    font-weight: bold;
    color: #ebebeb;
}

.border_form_zajavka{
    border-radius: 20px;
    background: #ffffff;
}

@media screen and (max-width: 334px) {
    .slogan_dla_zajavki{
        font-size: 9pt;
        margin-top: 10px;
    }
    .timer{
        font-size: 20pt;
    }

    .zajavka_fraza{
        visibility: hidden;
        display: none;
    }

    .zajavka_oglavlenie{
        font-size: 18pt;
        margin-top: 10px;
    }
}
@media screen and (min-width: 335px) and (max-width: 420px) {
    .slogan_dla_zajavki{
        font-size: 10pt;
        margin-top: 10px;
    }
    .timer{
        font-size: 20pt;
    }

    .zajavka_fraza{
        font-size: 10pt;
        padding-left: 5px;
        padding-right: 5px;
    }

    .zajavka_oglavlenie{
        font-size: 22pt;
        margin-top: 10px;
    }
}
@media screen and (min-width: 420px) and (max-width: 767px) {
    .slogan_dla_zajavki{
        font-size: 13pt;
        margin-top: 15px;
    }

    .timer{
        font-size: 30pt;
    }

    .zajavka_fraza{
        font-size: 11pt;
        padding-left: 5px;
        padding-right: 5px;
    }

    .zajavka_oglavlenie{
        font-size: 24pt;
        margin-top: 15px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .slogan_dla_zajavki{
        font-size: 13pt;
        margin-top: 15px;
    }

    .timer{
        font-size: 30pt;
    }

    .zajavka_fraza{
        font-size: 11pt;
        padding-left: 5px;
        padding-right: 5px;
    }

    .zajavka_oglavlenie{
        font-size: 24pt;
        margin-top: 15px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .blok_for_timer{
        margin-top: 301px;
        margin-left: -15px;
    }

    .slogan_dla_zajavki{
        font-size: 15pt;
        margin-top: 15px;
    }

    .zajavka_fraza{
        font-size: 11pt;
        padding-left: 5px;
        padding-right: 5px;
    }

    .blok_for_zajavki{
        margin-right: -15px;
        float: right;
    }

    .timer{
        font-size: 40pt;
    }

    .zajavka_oglavlenie{
        font-size: 24pt;
        margin-top: 15px;
    }
}
@media screen and (min-width: 1200px){
    .blok_for_timer{
        margin-top: 281px;
        margin-left: -15px;
    }

    .slogan_dla_zajavki{
        font-size: 21pt;
        margin-top: 15px;
    }

    .zajavka_fraza{
        font-size: 12pt;
        padding-left: 5px;
        padding-right: 5px;
    }

    .blok_for_zajavki{
        margin-right: -15px;
        float: right;
    }

    .timer{
        font-size: 40pt;
    }

    .zajavka_oglavlenie{
        font-size: 24pt;
        margin-top: 15px;
    }
}

/*Конец блока таймера и формы заполнения заявки*/
/* ***************Конец блока "Заявка"****************** */