/*.block{*/
     /*background: #8a6d3b;*/
     /*height: 100px;*/
 /*}*/

/*.block_left{*/
    /*background: #518a80;*/
    /*!*height: 100px;*!*/
/*}*/

/*.block_center{*/
    /*background: #2b542c;*/
    /*!*height: 100px;*!*/
/*}*/

/*.block_right{*/
    /*background: #2b669a;*/
    /*!*height: 100px;*!*/
/*}*/

/*.fon{*/
    /*background: #122b40;*/
    /*height: 100px;*/
/*}*/

.zagolovok_podmenu{
    font-weight: bold;
}

.dlina_number{
    max-width: 70px;
    float: right;
}

.nadpis_label_center{
    text-align: center;
}

.name_podmenu{
    text-align: center;
    font-weight: bold;
}

.otstup_ot_knopki{
    /*margin-bottom: 10px;*/
}